<div class="row">
    <form action="/current_score" method="post">
        <input class="u-full-width scoreInput" type="text" name="score"
            placeholder="-w-1-2" value="">
        <button class="button-primary getScore" type="submit" name="button">Get score</button>
    </form>
</div>